@page
@model WebApp.Pages_Answers.IndexModel

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1> *@
@* *@
@* <p> *@
@*     <a asp-page="Create">Create New</a> *@
@* </p> *@
<table class="table">
    <thead>
        <tr>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Answer[0].Question) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].AnswerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].IsCorrect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].TimesSelected)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Answer) {
        <tr>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item!.Question!.QuestionName) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.AnswerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimesSelected)
            </td>
            @* <td> *@
            @*     <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> | *@
            @*     <a asp-page="./Details" asp-route-id="@item.Id">Details</a> | *@
            @*     <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> *@
            @* </td> *@
        </tr>
}
    </tbody>
</table>
